# Core
pandas>=2.1.0
python-dateutil>=2.8.2

# Airflow
apache-airflow==2.7.2

# Parquet support
pyarrow>=12.0.1  # Para Parquet, soporte nullable types Int64
# opcional: fastparquet>=2023.3.0 (si quieres alternativa)